[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
requests = "*"
google-auth-oauthlib = "*"

[dev-packages]
ipython = "*"
black = "==21.7b0"
isort = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
